
.courses {
    padding-top: 30px;
    overflow-x: auto;
}

.buttonPanel {
    width: 100%;
    display: flex;
    align-items: center;
}

.deleteButton {
    background-color: var(--color1);
    color: white;
    margin-right: 10px;
}